.navBarContainer {
    width: 100%;
    display: flex;
    align-items: center;
    font-family: 'Jost', sans-serif;
}

.navBarRight {
    margin-left: auto;
    margin-right: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.navBarLeft {
    margin-left: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.navButton {
    list-style: none;
    color: white;
    margin-left: 20px;
    cursor: pointer;
}

.active {
    color: black;
}

.sideBarButton {
    background-color: white;
    color: black;
    padding: 10px;
    margin: 0px 10px;
    border-radius: 7px;
}

.sideBarButtonActive {
    background-color: #A9DEF9;
    color: black;
    padding: 10px;
    margin: 0px 10px;
    border-radius: 7px;

}

.navUserName {
    font-weight: 400;
    font-size: 20px;
    font-family: 'Jost', sans-serif;
    /* text-decoration: underline; */
}

.notification-drawer {
    width: 350px !important;
}

.left-drawer {
    width: 200px !important;
}

.notification-drawer {
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }
}

.css-h4y409-MuiList-root {
    padding-top: 20px !important;
}

/* mobile view */
@media only screen and (min-width: 320px) and (max-width: 480px) {
    .notification-drawer {
        width: 250px !important;
    }
}