.noteContainer {
    width: 100%;
}

.noteTop {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
}

.noteHeading {
    margin: 0px;
    font-weight: 500;
    font-size: 30px;
    font-family: "Jost", sans-serif;
}

.cardWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffcc;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.description {
    height: 115px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }
}

.cardStatus {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}

.cardDate {
    margin: 0px;
}

.cardAction {
    display: flex;
    gap: 30px;
    padding-top: 20px;

}

.cardSpan {
    margin-right: 7px;
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.cardContainer {
    gap: 20px;
    padding: 0px 50px 20px 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: white;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }
}

.noteBottom {
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }
}

.filter {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
}

.css-1orzy9s {
    display: flex;
}

.noteButton {
    height: 44px;
}

.noteData {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

/* 
.css-z3c6am-MuiFormControl-root-MuiTextField-root{
    display: none !important;
} */


/*///////////////////////////////////////// create note ///////////////////////////////////////////*/
.dialog {
    min-height: 300px;
    max-height: 500px;
    width: 500px;
    padding: 20px;
}

.createNoteInput {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

/* .css-10o2lyd-MuiStack-root>.MuiTextField-root {
    min-width: 100% !important;
} */

/*//////////////////////////////// view card ///////////////////////////////////////////// */

.view-cardWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
}


.view-cardSpan {
    margin-right: 7px;
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.view-dialog {
    width: 500px;
}

/* ///////////////////////////////////////// medis query //////////////////////////////////// */


/* mobile view */
@media only screen and (min-width: 320px) and (max-width: 480px) {

    .cardContainer {
        gap: 20px;
        padding: 0px 10px 10px 10px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        background-color: white;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .description {
        height: 100px;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .cardStatus {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px 0px;
        gap: 10px;
    }

    .noteTop {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px 16px;
    }

    .filter {
        width: 170px;
        justify-content: center;
    }

    /* .css-10o2lyd-MuiStack-root>.MuiTextField-root {
        min-width: 100% !important;
    } */

    .noteButton {
        min-width: 100px !important;
    }

}

/* Tablets and iPads */
@media only screen and (min-width: 481px) and (max-width: 769px) {
    .cardContainer {
        gap: 20px;
        padding: 0px 50px 20px 50px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        background-color: white;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    /* .css-10o2lyd-MuiStack-root>.MuiTextField-root {
        min-width: 100% !important;
    } */

}

/* small screens and laptops */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .cardContainer {
        gap: 20px;
        padding: 0px 50px 20px 50px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        background-color: white;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    /* .css-10o2lyd-MuiStack-root>.MuiTextField-root {
        min-width: 100% !important;
    } */
}

/* Desktops and large screens */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    .description {
        height: 115px;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    /* .css-10o2lyd-MuiStack-root>.MuiTextField-root {
        min-width: 100% !important;
    } */
}