.passwordHeading {
    margin: 0px;
    font-weight: 500;
    font-size: 30px;
    font-family: "Jost", sans-serif;
}

.passwordTop {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
}

.passwordBottom {
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }
}

.password-cardContainer {
    gap: 20px;
    padding: 0px 50px 20px 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #a9def9;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }
}

.password-description {
    height: 80px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
}

.password-cardWrapper {
    height: 200px;
    border: 1px solid #8ecae6;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* max-width: 400px; */
}


.cardSpan {
    margin-right:7px;
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.cardAction {
    display: flex;
    gap: 30px;
    padding-top: 20px;

}

.passwordContainer {
    width: 100%;
    /* height: calc(100vh - 50px); */
}



/* ///////////////////////////////////////// medis query //////////////////////////////////// */


/* mobile view */
@media only screen and (min-width: 320px) and (max-width: 480px) {
   
    .password-cardContainer {
        gap: 20px;
        padding: 0px 10px 10px 10px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        background-color: #a9def9;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            display: none;
        }
    }
    .password-description{
        height: 80px;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            display: none;
        }
        }

        .passwordTop {
            padding: 20px 15px;
        }

}

/* Tablets and iPads */
@media only screen and (min-width: 481px) and (max-width: 769px) {
    .password-cardContainer {
        gap: 20px;
        padding: 0px 50px 20px 50px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        background-color: #a9def9;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            display: none;
        }
    }
   
}

/* small screens and laptops */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .password-cardContainer {
        gap: 20px;
        padding: 0px 50px 20px 50px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        background-color: #a9def9;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            display: none;
        }
    }
}

/* Desktops and large screens */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    .password-description{
        height: 80px;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            display: none;
        }
        }
        
}